<!doctype html>
<html class="no-js" lang="zxx">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="user-component :: head"/>

<body>
<!-- Main Wrapper Start Here -->
<div class="wrapper">

    <div th:replace="user-component :: wrapper-top"/>

    <!-- Here is main of the page-->

    <div class="Lost-pass ptb-20 ptb-sm-60">
        <div class="container">
            <div class="register-title">
                <h3 class="mb-10 custom-title">QUÊN MẬT KHẨU</h3>
                <p class="mb-10">Nếu bạn có một tài khoản, xin vui lòng <a href="login.html">đăng nhập</a>.</p>
            </div>
            <form class="password-forgot clearfix" action="mail.php">
                <fieldset>
                    <legend>Đặt lại mật khẩu</legend>
                    <div class="form-group d-md-flex">
                        <label class="control-label col-md-2" for="email"><span class="require">*</span>Chúng tôi sẽ gửi cho bạn một email để kích hoạt việc đặt lại mật khẩu.</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="email" placeholder="Nhập email">
                        </div>
                    </div>
                </fieldset>
                <div class="buttons newsletter-input">
                    <div class="float-left float-sm-left">
                        <a class="customer-btn mr-20" href="login.html">Về đăng nhập</a>
                    </div>
                    <div class="float-right float-sm-right">
                        <input type="submit" value="Lấy lại mật khẩu" class="return-customer-btn">
                    </div>
                </div>
            </form>
        </div>
        <!-- Container End -->
    </div>

    <!-- End Here is main of the page-->


    <div th:replace="user-component :: wrapper-bottom"/>

</div>
<!-- Main Wrapper End Here -->

<div th:replace="user-component :: utils"/>

</body>

</html>