<!doctype html>
<html class="no-js" lang="zxx">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="user-component :: head"/>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Main Wrapper Start Here -->
<div class="wrapper">

    <div th:replace="user-component :: wrapper-top"/>

    <!-- Here is main of the page-->


    <!-- Categorie Menu & Slider Area End Here -->
    <!-- Shop Page Start -->
    <div class="main-shop-page pt-100 pb-100 ptb-sm-60">
        <div class="container">
            <!-- Row End -->
            <div class="row">
                <!-- Sidebar Shopping Option Start -->
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="sidebar">
                        <!-- Sidebar Electronics Categorie Start -->
                        <div class="electronics mb-40">
                            <h3 class="sidebar-title">Shop thú cưng</h3>
                            <div id="shop-cate-toggle" class="category-menu sidebar-menu sidbar-style">
                                <ul>
                                    <li class="has-sub"><a href="#">Thức ăn</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html">Thức ăn khô</a></li>
                                            <li><a href="shop.html">Thức ăn ướt</a></li>
                                            <li><a href="shop.html">Thức ăn găm huấn luyện</a></li>
                                            <li><a href="shop.html">Thức ăn tươi</a></li>
                                        </ul>
                                        <!-- category submenu end-->
                                    </li>
                                    <li class="has-sub"><a href="#">Quần áo</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html">Váy đầm</a></li>
                                            <li><a href="shop.html">Phụ kiện</a></li>
                                        </ul>
                                        <!-- category submenu end-->
                                    </li>
                                    <li class="has-sub"><a href="#">Chuồng, giường, nhà, túi</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html">Nhà, nệm, giường</a></li>
                                            <li><a href="shop.html">Lồng, túi vận chuyển</a></li>
                                            <li><a href="shop.html">Giỏ xách</a></li>
                                        </ul>
                                        <!-- category submenu end-->
                                    </li>
                                    <li class="has-sub"><a href="#">Y tế & thuốc</a>
                                        <ul class="category-sub">
                                            <li><a href="shop.html">Calxi & vitamins</a></li>
                                            <li><a href="shop.html">Thuốc trị nội ngoại</a></li>
                                            <li><a href="shop.html">Chăm sóc da lông móng</a></li>
                                            <li><a href="shop.html">Chăm sóc răng miệng</a></li>
                                        </ul>
                                        <!-- category submenu end-->
                                    </li>
                                </ul>
                            </div>
                            <!-- category-menu-end -->
                        </div>
                        <!-- Sidebar Electronics Categorie End -->
                        <!-- Price Filter Options Start -->
                        <div class="search-filter mb-40">
                            <h3 class="sidebar-title">Lọc theo giá</h3>
                            <form action="#" class="sidbar-style">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" class="amount-range" readonly>
                            </form>
                        </div>
                        <!-- Price Filter Options End -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-40">
                            <h3 class="sidebar-title">Phụ kiện cho chó</h3>
                            <ul class="sidbar-style">
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="camera" type="checkbox">
                                    <label class="form-check-label" for="camera">Thức ăn</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="GamePad" type="checkbox">
                                    <label class="form-check-label" for="GamePad">Quần áo</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="Digital" type="checkbox">
                                    <label class="form-check-label" for="Digital">Chuồng, giường, nhà, túi</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                    <label class="form-check-label" for="Virtual"> Y tế & thuốc </label>
                                </li>
                            </ul>
                        </div>
                        <!-- Sidebar Categorie Start -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-40">
                            <h3 class="sidebar-title">Phụ kiện cho mèo</h3>
                            <ul class="sidbar-style">
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="camera" type="checkbox">
                                    <label class="form-check-label" for="camera">Thức ăn</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="GamePad" type="checkbox">
                                    <label class="form-check-label" for="GamePad">Quần áo</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="Digital" type="checkbox">
                                    <label class="form-check-label" for="Digital">Chuồng, giường, nhà, túi</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                    <label class="form-check-label" for="Virtual"> Y tế & thuốc </label>
                                </li>
                            </ul>
                        </div>
                        <!-- Sidebar Categorie Start -->
                        <!-- Sidebar Categorie Start -->
                        <div class="sidebar-categorie mb-40">
                            <h3 class="sidebar-title">Phụ kiện vật nuôi khác</h3>
                            <ul class="sidbar-style">
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="camera" type="checkbox">
                                    <label class="form-check-label" for="camera">Thức ăn</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="GamePad" type="checkbox">
                                    <label class="form-check-label" for="GamePad">Quần áo</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="Digital" type="checkbox">
                                    <label class="form-check-label" for="Digital">Chuồng, giường, nhà, túi</label>
                                </li>
                                <li class="form-check">
                                    <input class="form-check-input" value="#" id="Virtual" type="checkbox">
                                    <label class="form-check-label" for="Virtual"> Y tế & thuốc </label>
                                </li>
                            </ul>
                        </div>
                        <!-- Sidebar Categorie Start -->
                        <!-- Product Top Start -->

                        <!-- Product Top End -->
                        <!-- Single Banner Start -->

                        <!-- Single Banner End -->
                    </div>
                </div>
                <!-- Sidebar Shopping Option End -->
                <!-- Product Categorie List Start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <!-- Grid & List View Start -->
                    <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                        <div class="grid-list-view  mb-sm-15">
                            <ul class="nav tabs-area d-flex align-items-center">
                                <li><a class="active" data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a>
                                </li>
                                <li><a data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                            </ul>
                        </div>
                        <!-- Toolbar Short Area Start -->
                        <div class="main-toolbar-sorter clearfix">
                            <div class="toolbar-sorter d-flex align-items-center">
                                <label>Sort By:</label>
                                <select class="sorter wide">
                                    <option value="Position">Relevance</option>
                                    <option value="Product Name">Neme, A to Z</option>
                                    <option value="Product Name">Neme, Z to A</option>
                                    <option value="Price">Price low to heigh</option>
                                    <option value="Price" selected>Price heigh to low</option>
                                </select>
                            </div>
                        </div>
                        <!-- Toolbar Short Area End -->
                        <!-- Toolbar Short Area Start -->
                        <div class="main-toolbar-sorter clearfix">
                            <div class="toolbar-sorter d-flex align-items-center">
                                <label>Show:</label>
                                <select class="sorter wide">
                                    <option value="12">12</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="75">75</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <!-- Toolbar Short Area End -->
                    </div>
                    <!-- Grid & List View End -->
                    <div class="main-product-thumbnail ptb-100 ptb-sm-60">
                        <div class="container">
                            <div class="thumb-bg">
                                <div class="row">
                                    <!-- Main Thumbnail Image Start -->
                                    <div class="col-lg-5 mb-all-40">
                                        <!-- Thumbnail Large Image start -->
                                        <div class="tab-content"   th:each="product : ${product}">
                                            <div id="thumb1" class="tab-pane fade show active">
                                                <a data-fancybox="images" href="img/products/35.jpg"><img th:src="@{'data:image/png;base64,' + ${product.getImageEncoded()}}" width="150px" height="300px" alt="product-view"></a>
                                            </div>

                                        </div>
                                        <!-- Thumbnail Large Image End -->
                                        <!-- Thumbnail Image End -->

                                        <!-- Thumbnail image end -->
                                    </div>
                                    <!-- Main Thumbnail Image End -->
                                    <!-- Thumbnail Description Start -->
                                    <div class="col-lg-7">
                                        <div class="thubnail-desc fix">
                                            <h3 class="product-header" th:text="${product.name}"></h3>
                                            <div class="rating-summary fix mtb-10">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>

                                            </div>
                                            <div class="pro-price mtb-30">
                                                <p  class="d-flex align-items-center"><span class="price" th:text="${product.price}"></span></p>
                                            </div>
                                            <p class="mb-20 pro-desc-details" th:text="${product.description}"></p>
                                            <div class="product-size mb-20 clearfix">
                                                <label>Số lượng</label>
                                                <select class="">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>

                                            <div class="box-quantity d-flex hot-product2">

                                                <div class="pro-actions">
                                                    <div class="actions-primary">
                                                        <a th:href="@{/buyshop(id=${product.id})}" title="" data-original-title="Add to Cart"> + Thêm vào giỏ hàng</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Thumbnail Description End -->
                                </div>
                                <!-- Row End -->
                            </div>
                        </div>
                        <!-- Container End -->
                    </div>
                    <!-- Product Pagination Info -->
                </div>
                <!-- Grid & List Main Area End -->
            </div>
        </div>
        <!-- product Categorie List End -->
    </div>
    <!-- Row End -->
</div>
<!-- Container End -->
</div>
<!-- Shop Page End -->


<div th:replace="user-component :: wrapper-bottom"/>

</div>
<!-- Main Wrapper End Here -->

<div th:replace="user-component :: utils"/>

</body>

</html>